@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: inherit;
font-style: normal;
 /*margin-left: 20px; modified*/
}.flaticon-3d76:before {
	content: "\e000";
}
.flaticon-air6:before {
	content: "\e001";
}
.flaticon-apple:before {
	content: "\e002";
}
.flaticon-architecture1:before {
	content: "\e003";
}
.flaticon-atomic1:before {
	content: "\e004";
}
.flaticon-business56:before {
	content: "\e005";
}
.flaticon-calendar60:before {
	content: "\e006";
}
.flaticon-canvas:before {
	content: "\e007";
}
.flaticon-cartoon:before {
	content: "\e008";
}
.flaticon-classic5:before {
	content: "\e009";
}
.flaticon-comedy2:before {
	content: "\e00a";
}
.flaticon-crawling:before {
	content: "\e00b";
}
.flaticon-cube19:before {
	content: "\e00c";
}
.flaticon-dog50:before {
	content: "\e00d";
}
.flaticon-earth47:before {
	content: "\e00e";
}
.flaticon-family20:before {
	content: "\e00f";
}
.flaticon-female94:before {
	content: "\e010";
}
.flaticon-film50:before {
	content: "\e011";
}
.flaticon-graduation22:before {
	content: "\e012";
}
.flaticon-hand61:before {
	content: "\e013";
}
.flaticon-handshake1:before {
	content: "\e014";
}
.flaticon-heart27:before {
	content: "\e015";
}
.flaticon-history1:before {
	content: "\e016";
}
.flaticon-html-tag:before {
	content: "\e017";
}
.flaticon-joystick10:before {
	content: "\e018";
}
.flaticon-landscape7:before {
	content: "\e019";
}
.flaticon-magic4:before {
	content: "\e01a";
}
.flaticon-man27:before {
	content: "\e01b";
}
.flaticon-man55:before {
	content: "\e01c";
}
.flaticon-musical:before {
	content: "\e01d";
}
.flaticon-one62:before {
	content: "\e01e";
}
.flaticon-pac:before {
	content: "\e01f";
}
.flaticon-plate7:before {
	content: "\e020";
}
.flaticon-pranava:before {
	content: "\e021";
}
.flaticon-professor8:before {
	content: "\e022";
}
.flaticon-science:before {
	content: "\e023";
}
.flaticon-soccer44:before {
	content: "\e024";
}
.flaticon-sport9:before {
	content: "\e025";
}
.flaticon-teacher4:before {
	content: "\e026";
}
.flaticon-telescope6:before {
	content: "\e027";
}
.flaticon-television4:before {
	content: "\e028";
}
.flaticon-thought:before {
	content: "\e029";
}
.flaticon-tools6:before {
	content: "\e02a";
}
.flaticon-tv12:before {
	content: "\e02b";
}
.flaticon-video136:before {
	content: "\e02c";
}
.flaticon-website8:before {
	content: "\e02d";
}
.flaticon-weightlifter3:before {
	content: "\e02e";
}
.flaticon-world89:before {
	content: "\e02f";
}
.flaticon-writing17:before {
	content: "\e030";
}

